.sr-only{
  display: inline;
}
.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #2b0eaf;
  box-shadow: 0 1px 0 0 #924de1;
  }
  example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }

  .example-small-box {
    height: 100px;
    width: 100px;
    color: azure;
  }

  .example-large-box {
    height: 300px;
    width: 1500px;
  }
  body {
    background-color: blue;
}
.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6 {
  font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
  margin: 0;
  padding-right: 609px;
}
